.calc {
  border: 1px solid black;
  width: fit-content;
  padding: 1rem;
  background-color: #333333;
  transform: scale(2);
  margin: 10rem auto;
  border-right: 2px solid #222;
  border-bottom: 5px solid #222;
  border-radius: 5px;
}

* { 
  font-family: monospace; 
} 

.row {
  padding: 5px 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 1
}

input {
  background-color: #546d6d;
}

button {
  background-color: #222;
  color: #fff;
  border: 1px solid #222;;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #fff;
}